.page-header {
  border: 0px;
  h1{
    color: $title-color;
  }
}

table.jobs-list{
  width: 100%;
  tr{
    border-bottom: 1px solid $border-color;
    border-left: 5px solid transparent;
    height: 80px;
    &:hover{
      border-top: 1px solid $border-color;
      background: #fbfbfb;
      border-left-color: $base-color;
    }
    &:first-child {
      border-top: 1px solid $border-color;
    }
  }
  tr.presencial:hover{
    border-left-color: $presencial-color;
  }
  tr.remote:hover{
    border-left-color: $remote-color;
  }
  tr.freela:hover{
    border-left-color: $freela-color;
  }
  tr.trainee:hover{
    border-left-color: $trainee-color;
  }

  td {
    width: 25%;

    &.job-title-company {
      padding-top: 10px;
      width: 50%;
    }
  }

  td.job-badge{
    width: 10%;
    padding-left: 20px;
    img {
      width: 2em;
    }
  }

  td.job-title {
    padding-left: 20px;
    color: $blue;
    text-transform: uppercase;
  }

  td.job-company{
    color: $title-color;
    margin-right: 10px;
  }

  td.job-location{
    width: 25%;

  }
  td.job-date{
    color: #bfc3c7;
    text-align: right;
    padding-right: 20px;
    width: 10%;
  }

  p {
    &.job-title {
      color: $blue;
      text-transform: uppercase;
    }

    &.job-company {
      color: $title-color;
      margin-right: 10px;
    }
  }
}

a.show-more-jobs{
  color: $blue;
  text-decoration: underline;
  margin-top: 20px;
  float: right;
}
