#jobs-show {

  .job-contract-type-not_specified,
  .job-salary-undefined {
    color: $base-color;
  }

  .job-salary-intern,
  .job-salary-junior,
  .job-salary-medium,
  .job-salary-senior,
  .job-salary-value_by_hour {
    color: #44df57;
  }

  .job-contract-type-clt,
  .job-contract-type-pj {
    color: #4578ca;
  }

  .page-header{
    span {
      margin-right: 15px;
    }

    span.job-date {
      color: #b6bac2;
    }

    span.job-company {
    }

    span.job-location {
      color: $base-color;
    }
  }

  .job-description{
    line-height: 150%;
  }

  .do-you-like-it {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 15px 0;
    margin: 25px 0;
    img {
      width: 65px;
    }
    p{
      color: #b6bac2;

      span.email {
        color: #4578ca;
        font-weight: bold;
        text-decoration: underline;
      }

    }
  }

  .well{
    margin: 25px 0;
    background: $well-color;
    h4 {
      margin-top: 0px;
    }
  }

  @media (max-width: 960px) {
    .do-you-like-it {
      text-align: center;
    }
  }
}
