<header id="inner">
  <div class="container">
  </div>
</header>

<div class="main-section" id="<%= controller_action %>" ng-controller="JobsCtrl">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
          <h1>Confira as vagas que estão esperando por você! </h1>
        </div>

        <input type="text" placeholder="Que tipo de trabalho você esta procurando?" ng-model="search" class="form-control"><br/>
        
        <table class="jobs-list">
          <tbody infinite-scroll="loadMore()" infinite-scroll-distance="3">
            <tr class="{{::job.modality}}" ng-repeat="job in jobs | filter:search">
              <td class="job-badge"><img ng-src="{{::job.badge}}"></td>
              <td class="job-title"><a ng-href="{{::job.url}}">{{::job.title}}</a></td>
              <td class="job-company">
                <a ng-href="{{::job.website}}" ng-if="job.website">
                  {{::job.company}}
                </a>
                <span ng-if="!job.website">
                  {{::job.company}}
                </span>
              </td>
              <td class="job-location"> {{::job.location}} </td>
              <td class="job-date badger-right badger-{{::job.modality}}" data-badger="{{job.modality_name}}">
                {{job.posted_at | date}}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="spinner" ng-show="loading">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>

      </div>
    </div>

  </div>
</div>
