<header id="inner">
</header>

<div class="main-section" id="<%= controller_action %>">
  <div class="container">
    <div class="page-header">
      <h1>Cadastrar Novo Job</h1>
    </div>
    <%= render 'form' %>
  </div>
</div>


