<div class="row">
  <% @jobs.each do |job| %>
	  <div class="col-md-4">
	    <h2><%= job.title %></h2>
	    <h4><%= job.company %></h4>
	    <p><%= job.location %></p>
	    <p><%= link_to "Ver detalhes »", job_path(job.id), :class => "btn btn-default", :role => "button" %></p>
	  </div>
  <% end %>
</div>

<hr>

<footer>
  <p>© Matheus Lima - <a href="http://matheuslima.com">matheuslima.com</a></p>
</footer>
