$base-color: #e74c3c;
$secondary-color: #00B233;

$border-color: #dfe1e2;

$title-color: #9aa5a6;

$blue: #6495d9;

$well-color: #f3f5f8;


$presencial-color: #44DF57;
$remote-color: #e74c3c;
$freela-color: #35ADEE;
$trainee-color: #F7C92D;