<footer>
	<div class="container">
	  <p> Copyright © <%= Time.now.year %> <strong>RubyJobs.me</strong> </p>
	  <div class="links">
	   <%= link_to image_tag("rss_icon.png"), feed_path %>
	   <%= link_to image_tag("github.png"), "https://github.com/matheusml/rubyjobs" %>
	 </div>
	</div>
</footer>
