<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <%= image_tag "collapse-menu.png" %>
      </button>
      <%= link_to 'Ruby Jobs', root_path, class: 'navbar-brand title' %>
    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
       <%= navbar(
        ['Vagas', jobs_path],
        ['Anuncie', new_job_path],
        ['API', nil]
        ).html_safe %>
      </ul>
    </div>
  </div>
</div>