<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <i class="fa fa-bars"></i>
      </button>
      <%= link_to (image_tag "logo.png"), root_path, class: 'navbar-brand' %>
    </div>

    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
       <%= navbar(
        ['Vagas', jobs_path],
        ['Anuncie', new_job_path]
        ).html_safe %>
      </ul>
    </div>
  </div>
</div>