<!DOCTYPE html>
<html>
<head>
  <title>RubyJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>RubyJobs</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-danger btn-lg" role="button">Crie uma oferta de trabalho</a></p>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
