<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou que sua senha fosse alterada. Você pode fazer isso clicando no link abaixo.</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem requisitou essa alteração, por favor, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você clique no link acima.</p>
